*{
    margin: 0 auto;
    font-family: fantasy;
}

.cabecero{
    background-image: url(cabezero\ kordhell.png);
    margin-top: 3mm;
    border: 1mm;
    border-style: solid;
    width: 170mm;
    height: 40mm;
}

.home{
    padding-left: 6mm;
    float: left;
    padding-top: 13mm;
    font-size: 9mm;
    display: inline;
    color: black;
}
.home:hover{
    font-size: 10mm;
    transition: 0.4s ease;
}

.barra{
    padding-left: 8mm;
    float: left;
    padding-top: 13mm;
    font-size: 9mm;
    display: inline;
}

.bio{
    padding-left: 6mm;
    float: left;
    padding-top: 13mm;
    font-size: 9mm;
    display: inline;
    color: purple;
}
.bio:hover{
    font-size: 10mm;
    transition: 0.4s ease;
}

.galeria{
    padding-left: 6mm;
    float: left;
    padding-top: 13mm;
    font-size: 9mm;
    display: inline;
    color: black;
}
.galeria:hover{
    font-size: 10mm;
    transition: 0.4s ease;
}

.logo{
    padding-left: 1mm;
    padding-right: 4mm;
    float: right;
    padding-top: 3mm;
    display: inline
}

.interior3{
    width: 170mm;
    height: 200mm;
    padding-top: 7mm;
    border-style: solid;
    border-width: 1mm;
    background-color: darkviolet;
    overflow: scroll;
}

.hell{
    font-size: 15mm;
    float: left;
    padding-left: 3mm;
    color: darkslategrey;
}

.definicion{
    float: left;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 10px;
}

span{
    font-style: oblique;
    color: goldenrod;
}

.HISTORIA{
    font-size: 45px;
    float: left;
    padding-left: 15px;
    padding-top: 20px;
}

.historia1{
    font-size: 20px;
    float: left;
    padding-left: 10px;
}

.footer{
    background-image: url(Footer\ Kordhell.png);
    margin-bottom: 3mm;
    border: 1mm;
    border-style: solid;
    width: 170mm;
    height: 30mm;
}

.youtube{
    padding-left: 8mm;
    float: left;
    padding-top: 13mm;
    font-size: 9mm;
    display: inline;
    color: black;
}
.youtube:hover{
    font-size: 10mm;
    transition: 0.4s ease;
}

.insta{
    padding-left: 7mm;
    float: left;
    padding-top: 13mm;
    font-size: 9mm;
    display: inline;
    color: black;
}
.insta:hover{
    font-size: 10mm;
    transition: 0.4s ease;
}

.sound{
    padding-left: 7mm;
    float: left;
    padding-top: 13mm;
    font-size: 9mm;
    display: inline;
    color: black;
}
.sound:hover{
    font-size: 10mm;
    transition: 0.4s ease;
}