*{
    margin: 0 auto;
    font-family: fantasy;
}

.cabecero{
    background-image: url(cabezero\ kordhell.png);
    margin-top: 3mm;
    border: 1mm;
    border-style: solid;
    width: 170mm;
    height: 40mm;
}

.home{
    padding-left: 6mm;
    float: left;
    padding-top: 13mm;
    font-size: 9mm;
    display: inline;
    color: purple;
}
.home:hover{
    font-size: 10mm;
    transition: 0.4s ease;
}

.barra{
    padding-left: 8mm;
    float: left;
    padding-top: 13mm;
    font-size: 9mm;
    display: inline;
}

.bio{
    padding-left: 6mm;
    float: left;
    padding-top: 13mm;
    font-size: 9mm;
    display: inline;
    color: black;
}
.bio:hover{
    font-size: 10mm;
    transition: 0.4s ease;
}

.galeria{
    padding-left: 6mm;
    float: left;
    padding-top: 13mm;
    font-size: 9mm;
    display: inline;
    color: black;
}
.galeria:hover{
    font-size: 10mm;
    transition: 0.4s ease;
}

.logo{
    padding-left: 1mm;
    padding-right: 4mm;
    float: right;
    padding-top: 3mm;
    display: inline
}

.interior1{
    width: 170mm;
    height: 200mm;
    border-style: solid;
    border-width: 1mm;
    background-color: darkslateblue;
    overflow: scroll
}

.background{
    background-color: black;
    width: 161mm;
    height: 92mm;
    float: left;
    padding-top: 3mm;
    padding-left: 5mm;
}

.video{
    padding-top: 1mm;
    float: left;
    padding-left: 1mm;
    width: 155mm;
}

.Inicio{
    float: left;
    padding-left: 3mm;
    padding-top: 4mm;
    font-size: 17mm;
}

.texto1{
    float: left;
    padding-left: 2mm;
    padding-top: mm;
    font-size: 7mm;
}

.scarlxrd{
    color: violet;
}
.scarlxrd:visited{
    color: gray;
}

.life{
    float: left;
    color: plum;
}
.life:link{
    color: plum;
}
.life:visited{
    color: grey;
}

.autum{
    padding-right: 14mm;
    float: right;
    color: plum;
}

.noticia1{
    font-size: 10mm;
    background-color: blueviolet;
}

.angeles{
    color: greenyellow;
}

.footer{
    background-image: url(Footer\ Kordhell.png);
    margin-bottom: 3mm;
    border: 1mm;
    border-style: solid;
    width: 170mm;
    height: 30mm;
}

.youtube{
    padding-left: 8mm;
    float: left;
    padding-top: 13mm;
    font-size: 9mm;
    display: inline;
    color: black;
}
.youtube:hover{
    font-size: 10mm;
    transition: 0.4s ease;
}

.insta{
    padding-left: 7mm;
    float: left;
    padding-top: 13mm;
    font-size: 9mm;
    display: inline;
    color: black;
}
.insta:hover{
    font-size: 10mm;
    transition: 0.4s ease;
}

.sound{
    padding-left: 7mm;
    float: left;
    padding-top: 13mm;
    font-size: 9mm;
    display: inline;
    color: black;
}
.sound:hover{
    font-size: 10mm;
    transition: 0.4s ease;
}